[submodule "ProRata-Model"]
	path = ProRata-Model
	url = https://github.com/VGNBug/ProRata-Model
[submodule "Generic-SpringBoot-Server-App"]
	path = Generic-SpringBoot-Server-App
	url = https://github.com/VGNBug/Generic-SpringBoot-Server-App.git
[submodule "Tax-Calculator"]
	path = Tax-Calculator
	url = https://github.com/VGNBug/Tax-Calculator.git
[submodule "Budget-Calculator"]
	path = Budget-Calculator
	url = https://github.com/VGNbug/Budget-Calculator.git
[submodule "EmploymentSession-Pay-Calculator"]
	path = EmploymentSession-Pay-Calculator
	url = https://github.com/VGNbug/EmploymentSession-Pay-Calculator.git
[submodule "TimeUtils"]
	path = TimeUtils
	url = https://github.com/VGNbug/TimeUtils.git
